<div class="home">
  <header class="hero" style="background-image: url('/assets/background.jpg');">
    <div class="overlay">
      <img src="assets/logo.png" alt="IT-BAFA Logo" class="logo" />
      <h1>Bienvenue</h1>
      <p>Notre engagement : vous offrir une expérience agréable et conviviale.</p>
    </div>
  </header>
</div>
<section id="espaces-offres" class="section">
  <h2>Espaces et Offres</h2>
  <div class="cards">
    <div class="card" tabindex="0">
      <div class="icon">
        <img src="assets/icon/cafe.png" alt="Bar" />
      </div>
      <h3>Bar</h3>
      <p>Proposez des boissons variées.</p>
    </div>
    <div class="card" tabindex="0">
      <div class="icon">
        <img src="assets/icon/cafe.png" alt="Petit Déjeuner" />
      </div>
      <h3>Petit Déjeuner</h3>
      <p>Une offre équilibrée pour bien démarrer la journée.</p>
    </div>
    <div class="card" tabindex="0">
      <div class="icon">
        <img src="assets/icon/seminaire.png" alt="Séminaires" />
      </div>
      <h3>Séminaires</h3>
      <p>Un espace adapté aux réunions et événements professionnels.</p>
    </div>
    <div class="card" tabindex="0">
      <div class="icon">
        <img src="assets/icon/recycler.png" alt="Les Écogestes" />
      </div>
      <h3>Les Écogestes</h3>
      <p>Une présentation de nos initiatives écoresponsables pour respecter l’environnement.</p>
    </div>
  </div>
</section>

